/* Global styles */
body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    height: 1000px
  }
  
  /* Card styles */
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    display: flex;
    flex-direction: row; /* Set the flex direction to row */
    justify-content: space-between;
  }
  
  .rooms-sidebar {
    flex-basis: 30%; /* Set the width of the sidebar */
  }
  
  .chat-box {
    flex-basis: 70%; /* Set the width of the chat box */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }
  
  .list-group {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item {
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
  }
  
  .list-group-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Chat box styles */
  
  .messages {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .message {
    padding: 5px 0;
  }
  
  .message-content {
    font-size: 16px;
  }
  
  .message-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styles */
  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  .new-room{
    display: block;
    text-decoration: none;
    color: blue;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
  }
  .input{
    display: flex;
  }

  .rooms-dropdown {
    display: none;
  }

@media (max-width: 768px) {
  .card-body {
    flex-direction: column;
  }

  .sidebar-chat-container {
    flex-direction: column;
  }

  .rooms-sidebar {
    flex-basis: 100%;
    margin-bottom: 0;
    display: none; /* Hide sidebar on mobile */
  }

  .chat-box {
    flex-basis: 100%;
    margin-top: 15px;
  }

  .rooms-dropdown {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s ease; /* Add a smooth transition effect */
  }

}

  
  